.cblue {
    background-color: #264653;
}

.cwhite {
    background-color: white;
}

#color {
    display: block;
}

.btn {
    margin-top: 30px;
    padding: 0.3rem 1.2rem;
    font-weight: 500;
    font-size: 18px;
}